
h2 {
    color: gray;
}

span.comment {
    color: gray;
    font-size: 1.5em;
}

div.wordField {
	width:	300px;
    margin: 20px;
}

.word {
	font-size: 1.5em;
}

span.missing {
	color: red;
}

span.excessive {
	color: orange;
}

span.correct {
	color: green;
}

table.list {
    border-collapse: collapse;
}

table.list th {
    border: 1px solid black;
}

table.list td, th {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 5px;
}

