
{% extends "main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block appcontent %}
<div class="row">
    <div class="col-md-4">
        <h2>Add card:</h2>
        <br />
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
