
{% extends "main.html" %}

{% block appcontent %}

<div id="container">
<form action="/list/" method="POST">
<table class="list">
    <tr>
        <th>front</th>
        <th>back</th>
        <th>group</th>
        <th>stack</th>
        <th>action</th>
    </tr>
{% for card in cards %}
     <tr>
         <td class="front">{{ card.front }}</td>
         <td class="back">{{ card.back }}</td>
         <td class="group">{{ card.groups }}</td>
         <td class="stack">{{ card.stack }}</td>
         <td><button type="submit" name="delete" value="{{ card.id }}" class="btn btn-default">delete</button></td>
     </tr>
{% endfor %}
</table>
</form>
</div>

{% endblock %}
