{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<script type="text/javascript">
</script>
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="../static/css/stylesheet.css">
{% endblock %}

{% block title %}VocTrian{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">VocTrain</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/input">Input</a></li>
            <li><a href="/learn">Learn</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/topics">Topics</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block appcontent %}
    <h3>Welcome! Welcome, welcome...</h3>
    {% endblock %}
    <br />
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}
