{% extends "main.html" %}

{% block appcontent %}
<h2>Learn:</h2>
<br />
<form action="/media-learn/" method="POST">
    <div class="row">
        <div class="col-md-3 word">
             <audio controls autoplay>
                <source src="../static/audio/{{ audio }}.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <br />
    <div class="row form-group">
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" name="answer" id="answer" class="form-control"
                       {% if score < 1 %} autofocus {% endif %} />
                <span class="input-group-btn">
                    <button type="submit" name="action" value="review" class="btn btn-default">check</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 comment">you wrote:</span>
        <span class="col-md-4 word">{{ answerUser|safe }}</span>
    </div>
    <div class="row">
        <span class="col-md-2 comment">correct:</span>
        <span class="col-md-4 word">{{ answerSystem|safe }}</span>
    </div>
    <br />
    <div class="row comment">
        <div class="col-md-3">
            Score: {{ score }}
        </div>
    </div>
    <br />
    <button type="submit" name="action" value="next" class="btn btn-default"
        {% if score == 1 %} autofocus {% endif %}>
        next word
    </button>
</form>
{% endblock %}
