
{% extends "main.html" %}

{% block appcontent %}

<div id="container">
<form action="/topics/" method="GET">
<table class="list">
    <tr>
        <th>topic</th>
        <th>number of words</th>
        <th>action</th>
    </tr>
{% for topic in topics %}
     <tr>
         <td>{{ topic.name }}</td>
         <td>{{ topic.count }}</td>
         <td>
             <button type="submit" name="learn" value="{{ topic.name }}" class="btn btn-default">learn</button>
             <button type="submit" name="list" value="{{ topic.name }}" class="btn btn-default">list</button>
         </td>
     </tr>
{% endfor %}
</table>
</form>
</div>

{% endblock %}
